@import "src/shared/styles/colors";

.input {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $mainColor;
  border-left: none;
  outline: none;
}
