@import "src/shared/styles/colors";

.progress-bar {
  height: 2px;
  background-color: $lightMainColor;

  &__big {
    height: 5px;
    margin-top: 20px;
    background-color: rgb(255, 219, 220);
  }
}
